<%- include ("top"); -%>

<body class="headerspace">

<header>
    <h1 id="onderdeel">Contact</h1>
</header>

<div class="onderdeel">
    <div class="vraagicoon"></div>
    <h1 class="ondti">Digital Era?</h1>
</div>

    <div class="contentcontainer">

        <p>
            Digital Era is een VZW opgericht door een aantal tech-fanaten die wouden aantonen hoe wonderbaarlijk de technologie van vandaag wel niet is. Elk thema dat aan bod komt is een onderwerp dat hedendaags wel bij iedereen bekend is of bij de meerderheid in bezitting is. Digital Era staat twee keer stil bij de technische vooruitgang die de mens heeft bereikt.
            <br>
            Het museum is gelegen in het hartje van Antwerpen. Elke dag van de week staan de deuren open.
            <br>
            Ondertussen telt Digital Era 33 trotse werknemers.
        </p>

    </div>
    

    <div class="onderdeel">
        <div class="contacticoon"></div>
        <h1 class="ondti">Contact</h1>
    </div>

    <div class="contentcontainer">
        
    <p>
        Digital Era vzw
        <br>
        Ellermanstraat 33, 2060 Antwerpen
        <br>
        Tel: 03 220 33 00
        <br>
        Fax: 03 220 33 00
        <br>
        Voor vragen kan u een mail sturen naar <a href="mailto:digitalera@museum.be" class="mail">digitalera@museum.be</a>
                
    </p>
        
    <p>
        Of u kan hier een bericht achterlaten.
    </p>

    <form>
        <label for="naam">Naam:</label><br>
        <input type="text" id="naam" name="naam" placeholder="Uw naam" required><br>
        <label for="mail">E-mail:</label><br>
        <input type="text" id="mail" name="mail" placeholder="E-mailadres" required><br>
        <label for="boodschap">Onderwerp:</label><br>
        <div id="editor">
            <p><br></p>
          </div>
          <div id="counter">0</div>

        <button class="submit">Stuur op!</button>
    </form>

    
    </div>



    <div class="onderdeel">
        <div class="tijdicoon"></div>
        <h1 class="ondti">Openingsuren</h1>
    </div>
    
    <div class="contentcontainer">

        <p class="melding">
            Wegens de corona maatregelen is het museum gesloten.
        </p>

        <table>
            <tr>
                <td>Maandag</td>
                <td>10:00 - 17:00</td>
            </tr>
            <tr>
                <td>Dinsdag</td>
                <td>10:00 - 17:00</td>
            </tr>
            <tr>
                <td>Woensdag</td>
                <td>10:00 - 17:00</td>
            </tr>
            <tr>
                <td>Donderdag</td>
                <td>10:00 - 17:00</td>
            </tr>
            <tr>
                <td>Vrijdag</td>
                <td>11:00 - 18:00</td>
            </tr>
            <tr>
                <td>Zaterdag</td>
                <td>11:00 - 18:00</td>
            </tr>
            <tr>
                <td>Zondag</td>
                <td>11:00 - 18:00</td>
            </tr>
        </table>
    </div>


    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="/js/scriptQuill.js"></script>

</body>

<%- include ("menu"); -%>