<!DOCTYPE html>
<html lang="nl-be" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Digital Era App - Opdracht 3 - Van Hissenhoven A - 2CMOA</title>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/reset_plus.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    
</head>